@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    15linng@gmail.com
    <br />

    <abbr title="Phone">P: +1 (570) 478-3172</abbr>
</address>

<address>
   
</address>